body {
    font-family: 'Andale Mono', monospace;
    display: flex;
    height: 100vh;
    margin: 0;
}

select {
    font-family: 'Andale Mono', monospace;
}

#direction, #algorithm {
    font-size: 16px;
    border: 0;
    width: 100%;
}

.menu {
    background: #f0f0f0;
    width: 250px;
    border-right: 2px solid #ccc;
    height: 100%
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
}

.menu li {
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    font-size: 18px;
}

.menu li:hover {
    background: #b4b1b1;
}

#cy {
    width: 100%;
    height: 100%;
    background: linear-gradient(#544f4f, transparent 1px), linear-gradient(90deg,#544f4f, transparent 1px);
    background-size: 20px 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}


.modal-content {
    background-color: #ffffff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    overflow:auto
}

.image-box {
    margin: 10px;
    text-align: center;
    cursor: pointer;
    border: 2px solid black;
}

img {
    width: 300px;
    height: 200px;
}
  
.closeEdgeWeight, .closeAddEdge, .closeAdjacencyMatrix, .closeIncidenceMatrix, .closeExampleGraph, .closeDijkstraWindow, .closeDescriptionAlgorithm {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.closeEdgeWeight:hover,
.closeEdgeWeight:focus,
.closeAddEdge:hover,
.closeAddEdge:focus,
.closeAdjacencyMatrix:hover,
.closeAdjacencyMatrix:focus,
.closeIncidenceMatrix:hover,
.closeIncidenceMatrix:focus,
.closeExampleGraph:hover,
.closeExampleGraph:focus,
.closeDijkstraWindow:hover,
.closeDijkstraWindow:focus,
.closeDescriptionAlgorithm:hover,
.closeDescriptionAlgorithm:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

th:first-child, td:first-child {
    position: sticky;
    left: 0;
  }

.visualization {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    left: 0;
}

.description {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    right: 0;
}

#cy_frozen {
    width: 100%;
    height: 80%;
    background: linear-gradient(grey, transparent 1px), linear-gradient(90deg, grey, transparent 1px);
    background-size: 20px 20px;
}

#control
{
    width:100%;
    text-align: center;
}

.control
{
    display: inline-block;
    box-sizing: border-box;
}


#return, #StartStep, #PreviosStep, #NextStep, #EndStep, #descriptionAlgorithm, #downloadResult {
	display: inline-block;	
	box-sizing: border-box;
	padding: 0px 20px;
	margin: 15px 0px 15px 5px;
	outline: none;
	border: none;  
	border-radius: 4px;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	color: #fff;
	background-color: #828282;
	box-shadow: 0 2px #323332;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
    text-align: center;
    font-family: 'Andale Mono', monospace;
    font-size: 16px;
}
#return:hover,
#StartStep:hover,
#PreviosStep:hover,
#NextStep:hover,
#EndStep:hover,
#descriptionAlgorithm:hover,
#downloadResult:hover {
	background-color: #151719;
}
#return:active,
#StartStep:active,
#PreviosStep:active,
#NextStep:active,
#EndStep:active,
#descriptionAlgorithm:active,
#downloadResult:active {
	background-color: #575757 !important;
}
#return:focus-visible,
#StartStep:focus-visible,
#PreviosStep:focus-visible,
#NextStep:focus-visible,
#EndStep:focus-visible,
#descriptionAlgorithm:focus-visible,
#downloadResult:focus-visible {
	box-shadow: 0 0 0 3px lightskyblue;
}


#descriptionGraph {
    position: absolute;
    bottom: 0;
    margin: 0; /* Убираем отступы */
    padding: 10px;
    font-weight: bold;
    width: 100%;
}


.btn {
	display: inline-block;
	box-sizing: border-box;
	padding: 0px 20px;
	margin: 15px 15px 15px 0;
	outline: none;
	border: none;  
	border-radius: 4px;
	height: 32px;
	line-height: 32px;
	font-size: 16px;
	font-weight: 500;
	text-decoration: none;
	color: #fff;
	background-color: #828282;
	box-shadow: 0 2px #323332;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
    text-align: center;
    font-family: 'Andale Mono', monospace;
}
.btn:hover {
	background-color: #151719;
}
.btn:active {
	background-color: #575757 !important;
}
.btn:focus-visible {
	box-shadow: 0 0 0 3px lightskyblue;
}

#descriptionStep{
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
}